<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yubao.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.yubao.model.Question" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
    <result column="SupportCnt" property="supportcnt" jdbcType="INTEGER" />
    <result column="OpposeCnt" property="opposecnt" jdbcType="INTEGER" />
    <result column="Reward" property="reward" jdbcType="INTEGER" />
    <result column="CreatedTime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="State" property="state" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, Title, Content, SupportCnt, OpposeCnt, Reward, CreatedTime, State, UserId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yubao.model.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from question
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from question
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yubao.model.QuestionExample" >
    delete from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yubao.model.Question" >
    insert into question (Id, Title, Content, 
      SupportCnt, OpposeCnt, Reward, 
      CreatedTime, State, UserId
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{supportcnt,jdbcType=INTEGER}, #{opposecnt,jdbcType=INTEGER}, #{reward,jdbcType=INTEGER}, 
      #{createdtime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yubao.model.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="supportcnt != null" >
        SupportCnt,
      </if>
      <if test="opposecnt != null" >
        OpposeCnt,
      </if>
      <if test="reward != null" >
        Reward,
      </if>
      <if test="createdtime != null" >
        CreatedTime,
      </if>
      <if test="state != null" >
        State,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="supportcnt != null" >
        #{supportcnt,jdbcType=INTEGER},
      </if>
      <if test="opposecnt != null" >
        #{opposecnt,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yubao.model.QuestionExample" resultType="java.lang.Integer" >
    select count(*) from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update question
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        Title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        Content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.supportcnt != null" >
        SupportCnt = #{record.supportcnt,jdbcType=INTEGER},
      </if>
      <if test="record.opposecnt != null" >
        OpposeCnt = #{record.opposecnt,jdbcType=INTEGER},
      </if>
      <if test="record.reward != null" >
        Reward = #{record.reward,jdbcType=INTEGER},
      </if>
      <if test="record.createdtime != null" >
        CreatedTime = #{record.createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        State = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        UserId = #{record.userid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update question
    set Id = #{record.id,jdbcType=VARCHAR},
      Title = #{record.title,jdbcType=VARCHAR},
      Content = #{record.content,jdbcType=VARCHAR},
      SupportCnt = #{record.supportcnt,jdbcType=INTEGER},
      OpposeCnt = #{record.opposecnt,jdbcType=INTEGER},
      Reward = #{record.reward,jdbcType=INTEGER},
      CreatedTime = #{record.createdtime,jdbcType=TIMESTAMP},
      State = #{record.state,jdbcType=INTEGER},
      UserId = #{record.userid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yubao.model.Question" >
    update question
    <set >
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="supportcnt != null" >
        SupportCnt = #{supportcnt,jdbcType=INTEGER},
      </if>
      <if test="opposecnt != null" >
        OpposeCnt = #{opposecnt,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        Reward = #{reward,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        CreatedTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yubao.model.Question" >
    update question
    set Title = #{title,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      SupportCnt = #{supportcnt,jdbcType=INTEGER},
      OpposeCnt = #{opposecnt,jdbcType=INTEGER},
      Reward = #{reward,jdbcType=INTEGER},
      CreatedTime = #{createdtime,jdbcType=TIMESTAMP},
      State = #{state,jdbcType=INTEGER},
      UserId = #{userid,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>